<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        
        <div class="row">
            <div class=" p-b-50">
                <h4 class="stext-301 cl0 p-b-15">
                    GET IN TOUCH
                </h4>
                <div class="p-t-4">
                    <p class="stext-107 cl7 size-201">
                        Copyright © 2024, All Right Reserved. Built By Irene Martin Campo
                    </p>
                    <a href="https://www.facebook.com" aria-label="Facebook" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" aria-label="Instagram" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://twitter.com" aria-label="Twitter" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i> 
                    </a>

                    <a href="https://github.com/Irenetitor" aria-label="GitHub" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>