{% extends "base/base.html" %}
{% load static %}
{% block content %}

    <div class="card mx-auto" style="max-width: 768px; margin-top:100px;">
        <div class="card-body">
            <div class="experience">
                <div class="info">
                    <div class="content">
                        <h3>About ClimateChic</h3>
                        <p>ClimateChic is a unique platform that combines fashion with weather insights. My goal is to help you choose the perfect outfit based on the current weather conditions in any city that you live in or are going to travel to. Whether it's a sunny day or a chilly evening, I've got you covered with the best fashion recommendations.</p>
                        <br>
                        <h3>Developer - Irene Martin Campo</h3>
                        <ul>
                            <li>&bull; I am a passionate web developer who is currently learning full stack development.</li>
                            <li>&bull; With a keen interest in both technology and fashion, I decided to create ClimateChic to merge these two passions.</li>
                            <li>&bull; Constantly experimenting with new technologies, I aim to provide a seamless and enjoyable user experience through this project.</li>
                            <li>&bull; Through ClimateChic, I hope to help users make informed fashion choices while also honing my skills as a full stack developer.</li>
                        </ul>
                        <br>
                        <h3>Technologies Used</h3>
                        <ul>
                            <li>&bull; <strong>Python & Django:</strong> The backend of the application is built using Django, a high-level Python web framework that encourages rapid development and clean, pragmatic design.</li>
                            <li>&bull; <strong>JavaScript:</strong> Used for client-side scripting to enhance user interactions and validate forms.</li>
                            <li>&bull; <strong>HTML & CSS:</strong> The structure and styling of the web pages are created using HTML and CSS, ensuring a responsive and visually appealing design.</li>
                            <li>&bull; <strong>API:</strong> APIs are used to validate city names entered by users, get weather info for entered city and sample product lists ensuring accurate weather-based recommendations.</li>
                            <li>&bull; <strong>Bootstrap:</strong> A front-end framework used to create responsive and mobile-first web pages.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}