{% extends "base/base.html" %}
{% load static %}
{% block content %}

    <div class="card mx-auto" style="max-width: 768px; margin-top:100px;">
        <div class="card-body">
            <div class="experience">
                <div class="info">
                    <div class="content">
                        <h3>Feedback Form</h3>
                        <div class="feedback"></div>
                        <h3 id="feedback-heading">We value your <span>feedback</span> &#128221;</h3> <br>
                        <form method="POST" onsubmit="return validateFeedbackForm()">
                            {% csrf_token %}
                            {% include "base/alert.html" %}

                            <div class="form-group">
                                <input class="form-control" required placeholder="Name" id='name-feedback' name="name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required placeholder="Email" id='email-feedback' name="email" type="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" required placeholder="Your feedback" id='user-feedback' name="feedback" type="text"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                            <div id="status-message" class="alert alert-danger" role="alert" style="display: none;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}